@import "reset.styl"

@import "components/header.styl"
@import "components/footer.styl"
@import "components/nav.styl"
@import "components/colors.styl"
@import "components/button.styl"

@import "pages/Home.styl"
@import "pages/404.styl"

html
	min-height: 100%;
	position: relative

body
	height 100%
	padding-bottom: 100px

body, html
	margin: 0
	background-color: backgroundColor